{% extends 'base.html' %}


{% block link %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock link %}


{% block page_content %}
{% include 'layout/navbar.html' %}

{% set current_job = user.get_current_work() %}
{% set hire = user.get_hired_work(current_hired_page) %}
{% set history = user.get_job_history() %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="mt-3 alert alert-{{category}}">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container mt-3">
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div class="alert alert-error bg-light">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            <strong class="text-danger source">Error!</strong> {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class= "col-md-4">
        <h1 class="text-center montserrat mt-5 sections">PROFILE</h1>
    <div class="my_container">
        <div class="container" style="margin-left: 0px !important;">
            <div class="row" style="text-align: center !important;">
            <div class="text-center" id="profPic" style="text-align: center !important; margin: auto !important;">
                <img src="{{image_file}}" alt="Profile Picture" class="rounded-circle account-img">

                {% if current_user == user %}
                <form method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    {{form.picture(class="inputfile")}}
                    {{form.picture.label}}
                    {{form.submit(class="btn btn-sm btn-success")}}
                </form>
                {% endif %}

            </div>
         
    </div>
    <div class="row">
           <div>
                <h3 class="source" style="text-align: center">{{user.last_name}}, {{user.first_name}} </h3>
                <hr>
                <table class="source table table-sm table-borderless">
                    <thead>
                        <tr>
                            <td><strong>Age</strong></td>
                            <td>{{age}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>{{user.address}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{user.email}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Phone Number</strong></td>
                            <td>{{user.contact}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Gender</strong></td>
                            <td>

                                {% if user.gender == "M" %}
                                Male
                                {% else %}
                                Female
                                {% endif %}

                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Availability Status</strong></td>
                            <td>

                                {% if user.isEmployed %}
                                Employed
                                {% else %}
                                Available
                                {% endif %}

                            </td>
                        </tr>
                    </thead>
                </table>

                {% if current_user == user %}
                <a href="{{url_for('users.edit_profile')}}" class="btn btn-primary">Edit Profile</a>
                {% endif %}

            </div>
    </div>
        </div>
    </div>
    </div>  
    <div class="col-md-8">
        <div class="my_container" style="margin-left: 45px !important;">
        <ul class="nav justify-content-center nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link btn-danger" id="postBtn" href="#postBtn">Posts</a>
            </li>

            {% if current_user == user %}

            {% if current_job %}
            <li class="nav-item">
                <a class="nav-link" id="currentBtn" href="#currentBtn">Current Work</a>
            </li>
            {% endif %}


            {% if hire %}
            <li class="nav-item">
                <a class="nav-link" id="hiredBtn" href="#hiredBtn">Hired Worker</a>
            </li>
            {% endif %}

            {% endif %}


            {% if history %}
            <li class="nav-item">
                <a class="nav-link" id="historyBtn" href="#historyBtn">Job History</a>
            </li>
            {% endif %}

        </ul>
    </div>
    {% if current_user == user %}

<div class="container" id="currentForm">

    {% if current_job %}
    <h1 class="text-center montserrat mt-5 sections">Currently Working On</h1>
    <div class="my_container">
        <a href="{{url_for('jobs.specific_job', id=current_job.worked_job.id)}}" class="specific">
            <div class="mt-3 jobs">
                <h1 class="text-center montserrat sections">{{current_job.worked_job.title}}</h1>
                <table class="source table table-sm table-borderless">
                    <thead>
                        <tr>
                            <td class="td"><strong>Job Type</strong></td>
                            <td>

                                {% if current_job.worked_job.jobType == 'FT' %}
                                Full Time
                                {% else %}
                                Part Time
                                {% endif %}

                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Job Description</strong></td>
                            <td>{{current_job.worked_job.description|truncate(100, True)}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Location</strong></td>
                            <td>{{current_job.worked_job.location}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Salary</strong></td>
                            <td>{{current_job.worked_job.salary}}</td>
                        </tr>
                    </thead>

                    {% if current_job.worked_job.maxWorker %}

                    <thead>
                        <tr>
                            <td><strong>Max Employee</strong></td>
                            <td>{{current_job.worked_job.maxWorker}}
                            </td>
                        </tr>
                    </thead>
                    {% endif %}
                </table>
            </div>
        </a>
    </div>
    {% endif %}

</div>
{% endif %}


{% if current_user == user %}


<div class="container" id="hiredForm">

    {% if hire %}
    <h1 class="text-center montserrat mt-5 sections">Currently Hired</h1>
    <div class="my_container">

        {% for hired in hire.items %}
        <a href="{{url_for('jobs.specific_job', id=hired.worked_job.id)}}" class="specific">
            <div class="mt-3 jobs">
                <p class="text-primary"><strong>{{hired.worked_job.user.last_name}},
                        {{hired.worked_job.user.first_name}}</strong></p>
                <h1 class="text-center montserrat sections">{{hired.worked_job.title}}</h1>
                <table class="source table table-sm table-borderless">
                    <thead>
                        <tr>
                            <td class="td"><strong>Job Type</strong></td>
                            <td>

                                {% if hired.worked_job.jobType == 'FT' %}
                                Full Time
                                {% else %}
                                Part Time
                                {% endif %}

                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Job Description</strong></td>
                            <td>{{hired.worked_job.description|truncate(100, True)}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Location</strong></td>
                            <td>{{hired.worked_job.location}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Salary</strong></td>
                            <td>{{hired.worked_job.salary}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </a>

        {% endfor %}
        <div class="text-center">
            {% for page_num in hire.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

            {% if page_num %}
            {% if hire.page == page_num %}
            <a href="{{url_for('users.home', username=user.username, post_page=current_post_page, hired_page=page_num, history_page=current_history_page)}}"
                class="btn btn-info">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('users.home', username=user.username, post_page=current_post_page, hired_page=page_num, history_page=current_history_page)}}"
                class="btn btn-outline-info">{{page_num}}</a>
            {% endif %}

            {% else %}
            ...
            {% endif %}

            {% endfor %}
        </div>

    </div>
    {% endif %}

</div>
{% endif %}
<div class="container" id="postForm">

    <h1 class="text-center montserrat mt-5 sections">JOB POSTED</h1>
    <div class=" my_container">

        {% if job_posted.items %}
        {% for job in job_posted.items %}
        <a href="{{url_for('jobs.specific_job', id=job.id)}}" class="specific">
            <div class="mt-3 jobs
                {% if job.user == current_user and job.notification_count()%}
                mb-5 badger-left badger-success"
                data-badger="Notification ({{job.notification_count()}})
                {% endif %}
                ">

                <h3 class="source mt-2 text-right text-primary">
                    Job {{job.postType}}
                </h3>
                <h1 class="text-center montserrat sections">{{job.title}}</h1>
                <table class="source table table-sm table-borderless">
                    <thead>
                        <tr>
                            <td class="td"><strong>Job Type</strong></td>
                            <td>

                                {% if job.jobType == 'FT' %}
                                Full Time
                                {% else %}
                                Part Time
                                {% endif %}

                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Job Description</strong></td>
                            <td>{{job.description|truncate(100, True)}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Location</strong></td>
                            <td>{{job.location}}</td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td><strong>Indicated Salary</strong></td>
                            <td>{{job.salary}}</td>
                        </tr>
                    </thead>

                    {% if job.maxWorker %}

                    <thead>
                        <tr>
                            <td><strong>Max Employee</strong></td>
                            <td>{{job.maxWorker}}
                            </td>
                        </tr>
                    </thead>
                    {% endif %}
                </table>

                {% if current_user == user %}

                <a href="{{url_for('jobs.edit_job', id=job.id)}}" class="btn btn-primary">Edit Post</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{job.id}}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{job.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{job.id}}"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel{{job.id}}">Delete Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-center source">You are about to delete Post with title {{job.title}}</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{{url_for('jobs.delete_job', id=job.id)}}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
        <div class="text-center">
            {% for page_num in job_posted.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

            {% if page_num %}
            {% if job_posted.page == page_num %}
            <a href="{{url_for('users.home', username=user.username, post_page=page_num, hired_page=current_hired_page, history_page=current_history_page)}}"
                class="btn btn-info">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('users.home', username=user.username, post_page=page_num, hired_page=current_hired_page, history_page=current_history_page)}}"
                class="btn btn-outline-info">{{page_num}}</a>
            {% endif %}

            {% else %}
            ...
            {% endif %}

            {% endfor %}
        </div>
        {% else %}

        <h1 class="text-center source">No Jobs Posted yet.
            {% if current_user == user %}
            click <a href="{{url_for('jobs.job_post')}}">here</a> to
            post
            one.
            {% endif %} </h1>
        {% endif %}
    </div>
</div>
</div> 
</div>
</div> 
<br>



<div class="container" id="historyForm">
    {% if history %}
    <h1 class="text-center montserrat mt-5 sections">Job History</h1>
    <div class="my_container">

        {% for hist in history %}
        <div class="mt-3 jobs">

            {% if hist.worked_job.postType == 'Seeker' %}
            <p class="text-primary"><strong>{{hist.worker.last_name}},
                    {{hist.worker.first_name}}</strong></p>

            {% else %}
            <p class="text-primary"><strong>{{hist.worked_job.user.last_name}},
                    {{hist.worked_job.user.first_name}}</strong></p>

            {% endif %}

            <h1 class="text-center montserrat sections">{{hist.worked_job.title}}</h1>
            <table class="source table table-sm table-borderless">
                <thead>
                    <tr>
                        <td class="td"><strong>Job Type</strong></td>
                        <td>

                            {% if hist.worked_job.jobType == 'FT' %}
                            Full Time
                            {% else %}
                            Part Time
                            {% endif %}

                        </td>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td><strong>FeedBack Message</strong></td>
                        <td>{{hist.message}}</td>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <td><strong>Rating</strong></td>
                        <td>{{hist.ratings}}</td>
                    </tr>
                </thead>
            </table>
        </div>

        {% endfor %}

    </div>
    {% endif %}

</div>
{% endblock page_content %}


{% block script %}
{{super()}}
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock script %}
