*, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8bc8a5;
}

.my_container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
/* #27AE60 */
.sections {
    font-weight: 500;
    font-size: 50px;
}

.account-img {
    height: 200px;
    width: 200px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    padding: 5%;
    font-weight: 700;
    color: #27AE60;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: black;
}

#editBTN {
    
}