<nav class="navbar navbar-expand-lg navbar-light bg-light">

    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="{{url_for('users.home', username=current_user.username, post_page=1, hired_page=1, history_page=1)}}">iAssist</a>
    {% else %}
    <a href="{{url_for('main.index')}}" class="navbar-brand">iAssist</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{url_for('users.home', username=current_user.username, post_page=1, hired_page=1, history_page=1)}}">

                {% if current_user.get_notif() %}

                <span class="badge badge-primary">{{current_user.get_notif()}}</span>
                {% endif %}
                HOME</a>
            <a class="nav-item nav-link" href="{{url_for('jobs.message', page=1)}}">MESSAGE</a>
            <a class="nav-item nav-link" href="{{url_for('jobs.job_search', page=1)}}">JOB SEARCH</a>
            <a class="nav-item nav-link" href="{{url_for('jobs.job_post')}}">JOB POST</a>
            <a class="nav-item nav-link" href="{{url_for('users.sign_out')}}">SIGN OUT</a>
            {% else %}
            <a href="{{url_for('main.index')}}" class="nav-item nav-link">HOME</a>
            <a href="{{url_for('users.sign_in')}}" class="nav-item nav-link">SIGN IN</a>
            <a href="{{url_for('users.sign_up')}}" class="nav-item nav-link">SIGN UP</a>
            {% endif %}

        </div>
    </div>
</nav>