<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('home')}}">iAssist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url_for('home')}}">HOME</span></a>
            <a class="nav-item nav-link" href="{{url_for('job_search')}}">JOB SEARCH</a>
            <a class="nav-item nav-link" href="{{url_for('job_post')}}">JOB APPLY</a>
            <a class="nav-item nav-link" href="{{url_for('sign_out')}}">SIGN OUT</a>
        </div>
    </div>
</nav>