{% extends 'base.html' %}


{% block link %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/500.css') }}">
{% endblock link %}


{% block page_content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-4 lead">You've Encountered an Internal Error.</div>
                <a href="{{url_for('users.home', username=current_user.username, post_page=1, hired_page=1, history_page=1)}}"
                    class="btn btn-link">Back
                    to Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}