{% extends 'base.html' %}


{% block link %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
{% endblock link %}


{% block page_content %}
{% include 'layout/navbar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-1 col-sm-1"></div>
        <div class="col-10 col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit Profile</h3>
                </div>
                <div class="card-body">
                    <form method="POST" class="form mt-2" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <strong>
                                {{ form.firstname.label }}
                            </strong>
                            {{ form.firstname(class="form-control", placeholder="Firstname") }}
                            {% if form.firstname.errors %}
                            {% for error in form.firstname.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <strong>
                                {{ form.lastname.label }}
                            </strong>
                            {{ form.lastname(class="form-control", placeholder="Lastname") }}
                            {% if form.lastname.errors %}
                            {% for error in form.lastname.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <strong>
                                {{ form.contact_no.label }}
                            </strong>
                            {{ form.contact_no(class="form-control", placeholder="Contact Number") }}
                            {% if form.contact_no.errors %}
                            {% for error in form.contact_no.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <strong>
                                {{form.picture.label()}}
                                {{form.picture(class='form-control-file')}}
                                {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}
                                {% endif %}
                            </strong>
                        </div>
                        <div class="form-group">
                            <strong>
                                {{ form.birthDate.label }}
                            </strong>
                            {{ form.birthDate(class="form-control", type='date',placeholder="BirthDay") }}
                            {% if form.birthDate.errors %}
                            {% for error in form.birthDate.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <strong>
                                {{ form.gender.label(class="mb-2") }}
                            </strong>
                            <br>
                            {% for subfield in form.gender %}
                            {{ subfield(class="mr-1") }}{{ subfield.label(class="radio-inline mr-5") }}
                            {% endfor %}

                        </div>
                        {{ form.submit(class="btn btn-primary form-control") }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-1"></div>
    </div>

</div>
{% endblock page_content %}