{% extends 'base.html' %}


{% block link %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/sign_in.css')}}">

{% endblock link %}


{% block page_content %}
{% include 'layout/navbar.html' %}
<div class="container mt-3">
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
    <div class="alert alert-error bg-light">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        <strong class="text-danger source">Error!</strong> {{error}}
    </div>
    {% endfor %}
    {% endfor %}
</div>

<div class="mt-5" id="form">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center source" id="formHeader">Edit Profile</h1>
            <form method="POST" class="form mt-2" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="Email") }}
                </div>
                <div class="form-group">
                    {{ form.firstname(class="form-control", placeholder="First Name") }}
                </div>
                <div class="form-group">
                    {{ form.lastname(class="form-control", placeholder="Last Name") }}
                </div>
                <div class="form-group">
                    {{form.gender(class="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.contact_no(class="form-control", placeholder="Contact Number") }}
                </div>
                <div class="form-group">
                    {{form.location(class="form-control", placeholder="Current Address")}}
                </div>
                {{ form.submit(class="btn btn-primary form-control", id="submitbtn") }}
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}