{% extends 'base.html' %}

{% block link %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/job_search.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock link %}

{% block page_content %}
{% include 'layout/navbar.html' %}

<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="POST" role="form">
                {{ sform.hidden_tag() }}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        {{ sform.search(class="form-control form-control-borderless",
                        autocorrect="off", autocomplete="off", placeholder="Search")
                        }}
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        {{sform.category( id='category')}}
                        {{ sform.submit(class="btn btn-success") }}
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <br>
    <br>

    {% if check %}
    <h1 class="text-center montserrat sections">Most Recent Job Posts</h1>
    {% else %}
    <h1 class="text-center montserrat sections">Search Result</h1>
    {% endif %}


    {% if jobs %}
    {% for job in jobs %}

    <a href="url_for('jobs.specific_job', id=job.id)}}" id='specific'>
        <div class=" my_container mb-5">
            <a href="{{url_for('jobs.specific_job', id=job.id)}}" id="specific">
                <div class="mt-3">

                    Job {{job.postType}}
                    </h3>
                    <h1 class="text-center montserrat sections">{{job.title}}</h1>
                    <table class="source table table-sm table-borderless">
                        <thead>
                            <tr>
                                <td><strong>Job Type</strong></td>
                                <td>

                                    {% if job.jobType == 'FT' %}
                                    Full Time
                                    {% else %}
                                    Part Time
                                    {% endif %}

                                </td>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <td><strong>Job Description</strong></td>
                                <td>{{job.description}}</td>
                            </tr>
                    </table>
                    <p class="source text-right">Posted By: <span class="montserrat">{{job.user}}</span></p>
                </div>
            </a>
            <hr>

        </div>
    </a>
    {% endfor %}
    {% endif %}


    {% if jobs.first() %}
    {% else %}
    <div class=" my_container mb-5">
        <div class="mt-3">
            <h3 class="source mt-2 text-center text-danger">
                No Result Found in your search for {{sform.search.data}}
            </h3>
        </div>
        <hr>
    </div>
    {% endif %}



</div>
{% endblock page_content %}