{% extends 'base.html' %}

{% block link %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/job_search.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
{% endblock link %}

{% block page_content %}
{% include 'layout/navbar.html' %}

<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="POST" role="form">
                {{ sform.hidden_tag() }}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        {{ sform.search(class="form-control form-control-borderless",
                        autocorrect="off", autocomplete="off", placeholder="Search")
                        }}
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        {{sform.category( id='category')}}
                        {{ sform.submit(class="btn btn-success") }}
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <br>
    <br>

    {% if sform.category.data == 'Offer' %}
    {% for job in jobs %}

    <div class="card mb-5">
        <a href="{{url_for('specific_job_offer', id=job.id)}}">
            <div class="card-body">
                <h5 class="card-title">Job Title: {{ job.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author: {{job.author}}</h6>
                <p class="card-text">{{ job.description | truncate(40) | safe }}</p>
            </div>
        </a>
    </div>

    {% endfor %}
    {% else %}
    {% for job in jobs %}

    <div class="card mb-5">
        <a href="{{url_for('specific_job_post', id=job.id)}}">
            <div class="card-body">
                <h5 class="card-title">{{ job.job_type }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author: {{job.author}}</h6>
                <p class="card-text">{{ job.description | truncate(40) | safe }}</p>
            </div>
        </a>
    </div>

    {% endfor %}
    {% endif %}


</div>
{% endblock page_content %}