{% extends 'base.html' %}


{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/job_apply.css')}}">
{{super()}}
{% endblock link %}


{% block page_content %}
{% include 'layout/navbar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-1 col-sm-1"></div>
        <div class="col-10 col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit Profile</h3>
                </div>
                <div class="card-body">
                    <form method="POST" class="form mt-2" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="first-name">First Name</label>
                            <input type="text" name="first-name" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-1"></div>
    </div>

</div>
{% endblock page_content %}


{% block script %}
{{ super() }}
<script src="{{url_for('static',filename='js/job_post.js')}}"></script>
{% endblock script %}