{% extends 'base.html' %}


{% block link %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
{% endblock link %}


{% block page_content %}
{% include 'layout/navbar.html' %}
<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-primary alert-{{category}}">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Login</h3>
                    <form method="POST" class="form mt-5">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <strong>
                                {{ form.username.label() }}
                            </strong>
                            {{ form.username(class="form-control", placeholder="Enter Username") }}
                            {% if form.username.errors %}
                            {% for error in form.username.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <strong>
                                {{ form.password.label }}
                            </strong>
                            {{ form.password(class="form-control", placeholder="Password") }}
                            {% if form.password.errors %}
                            {% for error in form.password.errors %}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group form-check">
                            {{ form.remember_me(class="form-check-label") }} {{ form.remember_me.label }}
                            <p class="text-muted" style="font-size:12px;">New User? <a href="{{ url_for('users.sign_up') }}">Click
                                    to Register!</a></p>
                        </div>
                        {{ form.submit(class="btn btn-primary form-control") }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

</div>
{% endblock page_content %}