{% extends 'base.html' %}

{% block link %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/job_search.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific_job.css') }}">
{% endblock link %}

{% block page_content %}
{% include 'layout/navbar.html' %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="mt-3 alert alert-{{category}}">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <br>
    <div class=" my_container">
        <div class="mt-3 mb-5">

            <h3 class="source mt-2 text-right text-primary">
                Job {{job.postType}}
            </h3>
            <h1 class="text-center montserrat sections">{{job.title}}</h1>
            <table class="source table table-sm table-borderless">
                <thead>
                    <tr>
                        <td><strong>Job Type</strong></td>
                        <td>

                            {% if job.jobType == 'FT' %}
                            Full Time
                            {% else %}
                            Part Time
                            {% endif %}

                        </td>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td><strong>Job Description</strong></td>
                        <td>{{job.description}}</td>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td><strong>Indicated Location</strong></td>
                        <td>{{job.location}}</td>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td><strong>Indicated Salary</strong></td>
                        <td>{{job.salary}}</td>
                    </tr>
                </thead>

                {% if job.maxWorker %}

                <thead>
                    <tr>
                        <td><strong>Max Employee</strong></td>
                        <td>
                            {{job.maxWorker}}
                        </td>
                    </tr>
                </thead>
                {% endif %}
            </table>

            {% if job.user != current_user %}

            <p class="source text-right">Posted By: <span class="montserrat"><a href="{{url_for('users.home', username=job.user.username, post_page=1, hired_page=1, history_page=1)}}">{{job.user}}</a></span></p>

            {% endif %}

            {% if current_user != job.user %}
            <a href="{{url_for('jobs.create_message', id=job.id, username=current_user.username)}}" class="btn btn-success">Message</a>
            {% endif %}


            {% if job.user != current_user%}


            {% if not status %}

            <a href="{{url_for('jobs.job_apply', id=job.id)}}" class="btn btn-primary" id="editBTN">
                {% if job.postType == 'Employer' %}
                Apply
                {% else %}
                Hire
                {% endif %}
            </a>
            {% else %}

            {% for wjob in current_user.worked_jobs %}
            {% if wjob.jobID == job.id and wjob.status == 'Working'%}
            <a href="#" class="btn btn-success disabled">Working On the Job</a>
            {% elif wjob.jobID == job.id and wjob.status == 'Not Working Read'%}
            <a href="#" class="btn btn-success disabled">Pending Request</a>
            {% elif wjob.jobID == job.id and wjob.status == 'Hiring'%}
            <a href="{{url_for('jobs.job_done', username=current_user.username, id=job.id)}}" class="btn btn-success">Work
                is
                Done</a>
            {% endif %}

            {% endfor %}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Cancel
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cancel Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You are about to cancel this job {{job.title}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{url_for('jobs.cancel_apply', id=job.id, username=current_user.username)}}" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endif %}
        </div>

        {% if job.user == current_user and (job.worker_count() or job.hiring_count()) %}
        <hr>
        <h3>People
            {% if job.postType == 'Seeker' %}
            You worked with
            {% else %}
            Who Works for You
            {% endif %}
            :</h3>
        <ul class="list-group">
            {% for worker in work %}
            {% if worker.status == 'Hiring' or worker.status == 'Working' %}
            <li class="list-group-item list-group-item-success">



                {{worker.worker}}
                <div style="float: right">

                    {% if job.postType == 'Employer' %}
                    <a href="{{url_for('jobs.job_done', username=worker.worker.username, id=job.id)}}" class="btn btn-sm btn-success">Done</a>
                    {% else %}
                    <a href="#" class="btn btn-sm btn-info disabled">Working On It!</a>
                    {% endif %}

                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal{{worker.worker.id}}">
                        Delete
                    </button>
                </div>
            </li>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{worker.worker.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{worker.worker.id}}"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{worker.worker.id}}">Delete User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center source">You Are About to Delete User {{worker.worker.first_name}}.</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{url_for('jobs.cancel_apply', id=job.id, username=worker.worker.username)}}"
                                class="btn btn-sm btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <hr>

        {% if job.user == current_user and job.applying_count() %}
        <h3>People
            {% if job.postType == 'Seeker' %}
            Hiring You
            {% else %}
            Applying
            {% endif %}
            :</h3>
        <ul class="list-group">
            {% for worker in work if worker.status == 'Not Working Read' %}
            <li class="list-group-item list-group-item-success">
                <a href="{{url_for('users.home', username=worker.worker.username, post_page=1, hired_page=1, history_page=1)}}">
                    {{worker.worker}}
                </a>
                <div style="float: right">
                    <a href="{{url_for('jobs.accept_seeker', username=worker.worker.username, id=job.id)}}" class="btn btn-sm btn-success">Accept</a>
                    <a href="{{url_for('jobs.cancel_apply', id=job.id, username=worker.worker.username)}}" class="btn btn-sm btn-danger">Decline</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
{% endblock page_content %}