{% extends 'base.html' %}


{% block page_content %}
{% include 'layout/navbar.html' %}
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4>{{job_offer.job_type}}</h4>
            <h5 class="text-muted" style="font-size: 12px;">{{job_offer.timestamp}}</h5>
            <p>by {{job_offer.author}}</p>
            <h5>Job Description</h5>
            <p style="text-indent: 2.5em">{{job_offer.description}}</p>
            {% if job_offer.contact %}
            <h5>Contact Details</h5>
            <p>{{ job_offer.contact }}</p>
            {% endif %}
            <button class="btn btn-default btn-sm">Hire</button>
        </div>
    </div>
</div>
{% endblock page_content %}